.AnsList {
    display: flex;
    justify-content: space-between;
    border: solid;
    width: auto;
    margin: 30px;
}
.AnsLine {
    display: flex;
    text-align: left;
}
.AnsList button {
    height: 100%;
    width: 50px;
    font-size: large;
}
.AnsChoiceContainer {
    /* display: inline-block; */
    /* display: flex; */
    /* justify-content: center; */
}
