.AnsList{
    display: flex;
    justify-content: space-between;
    border: solid;
    width: auto;
}
.AnsList button{
    height: 100%;
    width: 50px;
    font-size: large;
}
.AnsChoiceContainer{
    width: 50%;
    justify-content: center;
}