.QuestionContainer {
    display: flex;
    justify-content: center;
    width: 70%;
    height: auto;
}
.QuestionText {
    /* display: flex; */
    text-align: left;
    border: solid 1px black;
}
.QuestionImg {
    /* justify-content: space-evenly; */
}
